In [3]:
import numpy as np
import pandas as pd

hotels = pd.read_csv("Datasets/hotel_booking_data.csv")
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [4]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [5]:
len(hotels)

119390

In [18]:
donnees_manquantes = hotels.isnull().sum()
donnees_manquantes

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [15]:
print(f"Oui, il y a des donnÃ©es manquantes, la colonne {donnees_manquantes.idxmax()} a le plus de donnÃ©es manquantes : {donnees_manquantes.max()} points de donnÃ©es manquants.")

Oui, il y a des donnÃ©es manquantes, la colonne company a le plus de donnÃ©es manquantes : 112593 points de donnÃ©es manquants.

In [30]:
hotels.dropna(subset=['company'])

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,Transient,107.42,0,0,Check-Out,2015-07-02,Curtis Rodriguez,CRodriguez@verizon.com,466-424-2102,************1179
218,Resort Hotel,1,1,2015,July,28,8,0,1,2,...,Transient,104.72,0,1,Canceled,2015-07-08,Amanda Myers,AmandaMyers@att.com,692-752-0185,************8187
219,Resort Hotel,1,1,2015,July,28,8,0,1,2,...,Transient,104.72,0,1,Canceled,2015-07-08,Joshua Patrick,JoshuaPatrick@xfinity.com,868-836-9111,************9404
220,Resort Hotel,0,1,2015,July,28,8,0,2,2,...,Transient,104.72,1,1,Check-Out,2015-07-10,Martin Mcknight,Mcknight.Martin17@comcast.net,880-037-2943,************5090
295,Resort Hotel,0,84,2015,July,28,11,1,1,2,...,Transient,100.00,1,0,Check-Out,2015-07-13,Lisa Morgan,LMorgan@hotmail.com,645-017-6780,************3449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119119,City Hotel,0,40,2017,August,35,29,0,1,1,...,Transient,95.00,0,0,Check-Out,2017-08-30,Carla Fischer,CFischer@att.com,979-981-4488,************8544
119122,City Hotel,0,40,2017,August,35,29,0,1,1,...,Transient,95.00,0,0,Check-Out,2017-08-30,Valerie Ramirez,Ramirez.Valerie@verizon.com,265-792-0123,************2999
119123,City Hotel,0,40,2017,August,35,29,0,1,1,...,Transient,95.00,0,0,Check-Out,2017-08-30,Lisa Cantrell,LCantrell42@gmail.com,898-040-5133,************7000
119124,City Hotel,0,0,2017,August,35,29,0,1,1,...,Transient,0.00,0,2,Check-Out,2017-08-30,Erin Hatfield,EHatfield@aol.com,868-960-2621,************8605
119248,City Hotel,0,22,2017,August,35,29,0,3,1,...,Transient,75.00,0,4,Check-Out,2017-09-01,Tammy Hughes,Tammy_H@outlook.com,992-779-1181,************3098

In [31]:
hotels["country"].value_counts().head(5)

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [44]:
id_adr_max = hotels["adr"].idxmax()
adr_max = hotels["adr"].max()
hotels[hotels["adr","name"].iloc[id_adr_max]]

KeyError: ('adr', 'name')

In [49]:
hotels["adr"].mean()

101.83112153446686

In [46]:
hotels['total_nuits'] = hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']
hotels['total_nuits'].mean()

3.4279001591423066

In [50]:
hotels['cout_total'] = hotels['adr'] * (hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights'])
hotels['cout_total'].mean()

357.84820780634897

In [51]:
hotels[hotels['total_of_special_requests'] == 5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [52]:
(hotels['is_repeated_guest'].sum() / len(hotels)) * 100

3.191222045397437

In [53]:
hotels['name'].apply(lambda x: x.split()[-1]).value_counts().head(5)

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

In [56]:
hotels["total_kids"].max()

KeyError: 'total_kids'